<h2>Contacts</h2>

<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
  </thead>
  <tbody>
    {{#each contact in contacts}}
      <tr>
        <td> {{contact.first_name}} </td>
        <td> {{contact.last_name}} </td>
        <td> {{contact.email}} </td>
        <td> {{contact.phone}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#link-to 'group.contact.new'}} New contact {{/link-to}}
