{{!-- <h3>Contacts</h3>
{{#link-to 'contacts.new'}} New contact {{/link-to}}
 --}}

{{outlet}}

{{!-- <ul>
{{#each contact in contacts}}
  <li>
    {{#link-to 'show' contact}}
      {{contact.full_name}}
    {{/link-to}}
  </li>
{{/each}}
</ul> --}}


