<h2> {{name}} </h2>
<p> {{bio}} </p>

<ul>
  <li> {{#link-to 'programs.edit' this}} Edit {{/link-to}} </li>
  <li> {{#link-to 'programs.new'}} New {{/link-to}} </li>
</ul>

<h3> Add Contacts </h3>
{{#link-to 'contacts.new'}} New contact {{/link-to}}

{{outlet}}
